@charset "UTF-8";

@import "general";

body {
	padding: 10px;
	background: #fff;
}

table {
	color: #fff; //overridden but needed for editor.
	td {
		color: #fff; //overridden but needed for editor.
	}
}
