@import "compass/typography/vertical_rhythm";

@include establish-baseline;

html * {
	@include box-sizing(border-box);
}

body {
  background: $global-bg-color;
  font-family: $font-family;
  font-weight: $body-font-weight;
  color: $body-font-color;
  position: relative;
  -webkit-font-smoothing: $font-smoothing;
  @include respond(all-phones) {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    width: 100%;
    min-width: 0;
  }
}

html, body {
  height: 100%;
}

.ie9 {
  font-family: $font-family;
  * {
    font-family: $font-family;
  }
}

.hide {
  display: none;
}

.hide.active, .show {
  display: block;
}

.fixed {
  position: fixed;
  &.pinned {
    position: absolute;
  }
  @include respond(portrait-tablets) {
    position: relative !important;
    top: auto !important;
    left: auto !important;
  }
}

@include respond(desktop) {
	.logo-footer {
		transition-duration: 1s;
		position: fixed;
		bottom: 0px;
		right: 128px;
		height: 230px;
		width: 250px;
		background-image: url(#{$file-path}/images/logo.png);
		background-size: 100% 100%;

		&:hover,
		&:focus {
			transition-duration: 1s;
			background-image: url(#{$file-path}/images/logo-hover-1.png);
		}
	}
}

.unfixed {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@include respond(mobile) {
	.row {
		padding: 0 20px;
		.row {
			padding: 0;
		}
	}
}

@include respond(desktop) {
	.row {
		padding: 0 20px;
		.row {
			padding: 0;
		}
	}
}
@include respond(large-desktop) {
	.row {
		padding: 0;
		.row {
			padding: 0;
		}
	}
}


@include respond(mobile) {
	.row {
		padding: 0 20px;
		.row {
			padding: 0;
		}
	}
	.columns.sidebar {
		margin: 0 -20px;
		width: calc(100% + 40px) !important; //override another important
	}
}
