.success.btn {
	a:hover {
		color:#fff;
	}
	&:hover {
		color:#fff;
		a {
			color:#fff;
		}
	}
}

.btn-login {
	background-color: darken($navbar-color, 5%);
	text-align: left;
	margin-top: -20px;
	padding: 9px 16px 9px;
	position:relative;
	z-index: 3;
	line-height: 13px;

	@include respond(document-width) {
		background-color: darken($navbar-color, 5%);
		margin-top: -80px;
		padding: 9px 10px;
	}

	@include respond(mobile) {
		background: none;
		float: left;
		margin-top: -80px;
		margin-left: -20px;
		padding: 10px 10px;
	}
	a {
		color: #fff;

	}
	.btn {
		display: inline-block;
		color: #fff;
		margin-top: 3px;
		margin-bottom: 3px;
	}

	.meta-data {
		color: lighten($global-bg-color, 40%);
		padding-right:20px;
		line-height: 39px;
		text-align:right;
		display: inline-block;
		max-width: 165px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
