.footer {
	text-align: center;
	background: #6C6C6C url(#{$file-path}/images/footer_background.jpg) repeat-x;
	width: 100%;
	border-top: 2px solid #333;

	@include respond(desktop) {
		height: 160px;
	}
	p {
		color: #fff;
		font-size: 14px;
		line-height: 2.5em;
		font-weight: 700;
	}
	a {
		color: #fff;
		text-decoration: underline;
	}

	.navbar {
		@include clearfix();
		min-height: 25px;
		padding: 0 20px;
		margin: 0;
		border-top: 2px solid #333;
		@include respond(desktop) {
			margin-top: 90px;
		}
		ul {
			clear:both;
			float:left;
			margin-left:-15px;
			a {
				color: #fff;
				font-size: 0.9em;
			}
		}
		> a {
			font-size: 1.3em;
			&:hover, &:focus {
				color: rgba(#fff, 0.7);
			}
		}
	}
}
