@mixin doubleborder($side, $innerColor, $outerColor) {
	$shadow: "0 0 0";
	border-#{$side}: 1px solid $innerColor;
	@if ($side == "top") { $shadow: 0 -1px 0; }
	@if ($side == "right") { $shadow: 1px 0 0; }
	@if ($side == "bottom") { $shadow: 0 1px 0; }
	@if ($side == "left") { $shadow: -1px 0 0; }
	-webkit-box-shadow: $shadow $outerColor;
	-moz-box-shadow: $shadow $outerColor;
	-o-box-shadow: $shadow $outerColor;
	box-shadow: $shadow $outerColor;
}


/**
 * Mixin divides width of parent between children. It requires the parent to
 * have a size class representing the number of children (eg: class="size_3").
 * It will take this and divide the width by that number of elements.
 *
 * Note: In silverstripe templates you can use $Count on a set of items you
 * are about to loop throught to get the total number. EG:
 * <ul class="size_{$Menu.Count}">
 */
@mixin divide_width($from:1, $to:10) {
	@for $i from $from through $to {
		&.size_#{$i} {
			li {
				width: 100% / $i;
			}
		}
	}
}

// Aligns content as vertically centered
// Note: parent element must have a height
@mixin vertical-align($element: ".center", $height:100%){
	display: table;
	height:$height;
	#{$element}{
		display: table-cell;
		vertical-align: middle;
	}
}
