
.js .preference-select {
	// copes with 5 preferences maximum

	.preference-group .field {
		font-size: 1.1em;
		transition: 0.3s;
		position: relative;
		float: left;
		cursor: move;
		background: darken($global-bg-color, 10%);
		border: 0px solid darken($global-bg-color, 10%);
		border-left-width: 19px;
		color: darken($global-bg-color, 60%);
		margin: 0;
		margin-bottom: 1px;
		padding: 5px 50px 5px 40px;

		@include respond(all-phones) {
			border-left-width: 5px;
		}
		&.favourite .icon-heart {
			color: $inspiration;
		}
		&:first-child {
			.icon-up {
				display: none;
			}
			.icon-heart {
				display: block;
			}
			&.not-playing{
				.icon-heart {
					display: none;
				}
			}
		}
		&:hover, &:focus {
			transition: 0.3s;
			background: $default-color;
			border-color: $default-color;
			color: #fff;
			.icon {
				color: $earth;
			}
			&.favourite .icon-heart {
				color: $inspiration;
			}
			&:before {
				transition: 0.3s;
				background: $default-color;
				color: #fff;
			}
			&:after {
				transition: 0.3s;
				color: #fff;
				opacity: 1;
			}
		}
		&:before {
			box-sizing: border-box;
			display: block;
			padding: 5px 10px;
			background-color: darken($global-bg-color, 10%);
			height: 100%;
			content: "";
			position: absolute;
			top: 0px;
			left: 0px;
			width: 30px;
			color: darken($global-bg-color, 50%);
			font-weight: normal;
		}
		&:after {
			@include rotate(-45deg);
			content: "\e744";
			font-family: "#{$icons}";
			color: darken($default-color, 5%);
			position:absolute;
			text-decoration:none;
			zoom: 1;
			left: -17px;
			top: 5px;
			opacity:0.5;
			@include respond(all-phones) {
				content: "";
			}
		}
		.icon {
			position: absolute;
			right: 5px;
			top: 5px;
			padding-left: 22px;
			color: rgba($earth, 0.5);

			&:hover {
				color: lighten($earth, 3%);
				cursor: pointer;
			}
		}
		.icon-heart {
			display: none;
			color: rgba($passion, 0.4);
		}
		.extra {
			text-overflow: ellipsis;
		}
	}

	@for $i from 1 through 5 {
		.preference-#{$i} {
			@for $j from 1 through $i {
				.field:nth-of-type(#{$j}) {
					border-color: $default-color;
					&:before {
						content: "#{$j}";
					}
					&:hover,
					&:focus {
						border-color: $default-color;

					}
					&:after {
						color: #fff;
					}
				}
				// if follows after not-playing, style as unselected
				.not-playing ~ .field:nth-of-type(#{$j}) {
					border-color: darken($global-bg-color, 10%);
					&:hover,
					&:focus {
						border-color: $default-color;
					}
					&:before {
						content: "";
					}
					&:after {
						color: darken($default-color, 5%);
					}
				}
			}
		}
	}
}

.preference-table {
	.icon-heart {
		color: $inspiration;
	}
	.icon-check {
		color: $earth;
	}
}
