
.pull-right {
	float:right;
}

.nonvisual-indicator, .sr-only { // Content often used by people using screenreaders
	clip: rect(0 0 0 0);
	height: 1px; width: 1px;
	margin: -1px; padding: 0; border: 0;
	overflow: hidden;
	position: absolute;
}


.divider {
	margin: 0 auto;
	max-width: 475px;
	border-top: 20px solid transparent;
	text-align:center;
	@include border-image(url(../images/divider_horizontal_long.png) 30 0 round);
}

.shaded {
	background:darken($global-bg-color, 3%);
	padding-bottom:20px;
}


.meta-info {
	padding-top:10px;
	em {
		display:block;
		font-style:normal;
	}
	.label {
		font-size:14px;
		height:auto;
		line-height:22px;
		margin-top:10px;
	}
}

.hidden-desktop {
	@include hidden(desktop);
}
.hidden-mobile {
	@include hidden(all-phones);
}
